<template>
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand router-link to="/"><img height="45px" src="../assets/logo.png"></b-navbar-brand>
    <b-navbar-brand router-link to="/">{{ title }}</b-navbar-brand>

    <b-badge v-if="!loggedIn || !isOnline" pill variant="danger">Sauvegarde locale</b-badge>
    <b-badge v-else pill variant="secondary">Sauvegarde dans le cloud</b-badge>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item router-link to="/">
          <font-awesome-icon icon="gamepad"></font-awesome-icon>
          Jeu
        </b-nav-item>
        <b-nav-item v-if="isOnline" router-link to="/score">
          <font-awesome-icon icon="list-ol"></font-awesome-icon>
          Scores
        </b-nav-item>
        <b-nav-item router-link to="/about">
          <font-awesome-icon icon="info-circle"></font-awesome-icon>
          A propos
        </b-nav-item>
      </b-navbar-nav>

      <template v-if="isOnline">
        <b-navbar-nav v-if="!loggedIn" class="ml-auto">
          <b-nav-item>
            <b-button router-link to="/login">Se connecter</b-button>
          </b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav v-else class="ml-auto">
          <b-nav-item-dropdown right>
            <template #button-content>
              <font-awesome-icon icon="user"></font-awesome-icon> {{ user.username }}
            </template>
            <b-dropdown-item router-link to="/logout">Se deconnecter</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </template>
    </b-collapse>
  </b-navbar>
</template>

<script>
import store from "@/store";

export default {
  name: 'NavBar',
  props: ['title'],
  computed: {
    loggedIn: function () {
      return store.getters.loggedIn;
    },
    isOnline: function () {
      return store.getters.isOnline;
    },
    user: function () {
      return store.getters.user;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
