<template>
  <div class="blurComponent">
    <h2>
      <font-awesome-icon icon="plane"></font-awesome-icon>
      Unités
    </h2>
    <div class="d-flex align-items-center hiddenUnits" v-if="showHiddenBar">
      <font-awesome-icon icon="eye"></font-awesome-icon>&nbsp;:
      <div v-for="item in items" :key="item.id">
        <img v-if="!item.unitsShow" :src="require('@/assets/img/' + item.icon)" v-on:click="$emit('switch-show-units', item)"/>
      </div>
    </div>
    <UnitsItem
        v-for="item in items"
        :key="item.id"
        :item="item"
        v-on:switch-show-units="$emit('switch-show-units', item)"
    ></UnitsItem>
  </div>
</template>

<script>
import UnitsItem from "@/components/units/UnitsItem";

export default {
  name: 'Units',
  components: {UnitsItem},
  props: ['items'],
  data: function () {
    return {
      showHiddenBar: false,
    }
  },
  computed: {
    getPath: function () {
      return process.env.BASE_URL;
    }
  },
  methods: {
    updateShowHiddenBar() {
      let hide = true;
      this.items.map(i => {
        if (!i.unitsShow && i.counter >= 0) {
          hide = false;
        }
      })
      this.showHiddenBar = !hide;
    }
  },
  watch: {
    items: {
      deep: true,
      handler: function () {
        this.updateShowHiddenBar();
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hiddenUnits {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.hiddenUnits img {
  height: 40px;
  cursor: pointer;
}

.hiddenUnits img:hover {
  transform: scale(1.1);
}

.hiddenUnits div {
  display: inline-block;
}
</style>
