<template>
  <div class="unitsItems rounded" v-if="item.counter > 0 && item.unitsShow">
    <div class="d-flex flex-wrap unitsElements">
      <img v-for="index in getNumberIcon" :key="index" class="unitsElement"
           :src="require('@/assets/img/' + item.icon)"/>
    </div>
    <b-button pill class="buttonHide" variant="outline-secondary" v-on:click="$emit('switch-show-units', item)">
      <font-awesome-icon icon="eye-slash"/>
    </b-button>
  </div>
</template>

<script>
const NB_IMG = 32;

export default {
  name: 'UnitsItem',
  props: ['item'],
  computed: {
    getPath: function () {
      return process.env.BASE_URL;
    },
    getNumberIcon: function () {
      return this.item.counter >= NB_IMG ? NB_IMG : this.item.counter;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.unitsElement {
  height: 50%;
}

.unitsElements {
  height: 90px;
  overflow: hidden;
}

.unitsItems {
  background: url("../../assets/taxiway.png") repeat-x;
  background-size: auto 100%;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.buttonHide {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
</style>
