<template>
  <div class="d-flex flex-column flex-grow-1">
    <clicker-counter class="clickerCounter" :counter="counter" :perSecond="perSecond"/>
    <clicker-user-action class="flex-grow-1" :per-click="perClick" v-on:clicker-action="$emit('clicker-action')"/>
  </div>
</template>

<script>
import ClickerCounter from "@/components/clicker/ClickerCounter";
import ClickerUserAction from "@/components/clicker/ClickerUserAction";

export default {
  name: 'Clicker',
  components: {ClickerUserAction, ClickerCounter},
  props: ['counter', 'perSecond', 'perClick'],
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
