<template>
  <div class="blurComponent">
    <h1><span id="counter">{{ getCounterFormatted }}</span> passagers</h1>
    <h5>{{ getPerSecondFormatted }} <img class="icon" src="@/assets/passenger.png"> par seconde</h5>
  </div>
</template>

<script>
export default {
  name: 'ClickerCounter',
  props: ['counter', 'perSecond'],
  computed: {
    getCounterFormatted: function () {
      return Intl.NumberFormat("fr-FR", {
        notation: "compact",
        compactDisplay: "short",
        maximumFractionDigits: 3,
      }).format(this.counter);
    },
    getPerSecondFormatted: function () {
      return Intl.NumberFormat("fr-FR", {
        notation: "compact",
        compactDisplay: "short",
        maximumFractionDigits: 3,
      }).format(this.perSecond);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.icon {
  width: 30px;
  height: 30px;
}
</style>
