<template>
  <div id="clickerUserAction" class="d-flex flex-column justify-content-start align-items-center">
    <img class="noDrag" v-on:click="clickAction" src="@/assets/humain.png">
    <b-button v-on:click="confirmReset" variant="danger">Réinitialisation</b-button>
  </div>
</template>

<script>

export default {
  name: 'ClickerUserAction',
  props: ['perClick'],
  data: function () {
    return {
      interval: null,
      elements: []
    }
  },
  methods: {
    clickAction: function (event) {
      let component = document.getElementById('clickerUserAction');
      let counter = document.createElement('div');
      let topPosition = event.pageY - 100;
      counter.style.left = (event.pageX - 25) + 'px';
      counter.style.top = topPosition + 'px';
      counter.style.position = 'absolute';
      counter.style.opacity = '1';
      counter.style.pointerEvents = 'none';
      counter.classList.add('counterPerClick');
      counter.textContent = '+' + this.perClick;
      component.appendChild(counter);
      this.elements.push({element: counter, topPosInitial: topPosition, topPosition: topPosition});
      if (!this.interval) {
        this.interval = setInterval(this.intervalAction, 10);
      }
      this.$emit('clicker-action');
    },
    intervalAction: function () {
      this.elements.map(e => {
        e.topPosition -= 2;
        e.element.style.top = e.topPosition + 'px';
        e.element.style.opacity = '' + (parseFloat(e.element.style.opacity) - 0.01);
        if (e.topPosition < 0)
          e.element.remove();
      });
      this.elements = this.elements.filter(e => parseFloat(e.element.style.opacity) > 0);
      if (this.elements.empty) {
        clearInterval(this.interval);
        this.interval = null;
      }
    },
    confirmReset: function () {
      this.$bvModal.msgBoxConfirm('Toutes les informations du jeux vont être perdues !', {
        title: 'Voulez-vous vraiment réinitialiser ?',
        size: 'md',
        buttonSize: 'sm',
        okVariant: 'danger',
        okTitle: 'Oui',
        cancelTitle: 'Non',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true
      })
          .then(value => {
            if (value)
              this.$parent.$emit('reset-game');
          })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img {
  transition: transform .2s;
  height: 65vh;
}

img:hover {
  transform: scale(1.05);
}

.noDrag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

</style>

<style>
.counterPerClick {
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  font-size: 2rem;
}
</style>
