<template>
  <div id="app" class="d-flex flex-column">
    <NavBar :title="title"/>
    <router-view class="flex-grow-1" id="view"/>
  </div>
</template>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  background-color: #424242;
}

#view {
  padding-top: 15px;
}
</style>

<script>
import NavBar from "@/components/NavBar";
import store from "@/store";
import axios from "axios";

export default {
  components: {NavBar},
  data: function () {
    return {
      title: "Aircraft Clicker"
    }
  },
  beforeMount() {
    axios.get(this.$apiUrl)
        .then(() => {
          store.dispatch('setOnline', true);
          if (!localStorage.getItem('user'))
            localStorage.setItem('user', null);
          store.dispatch('setUserConnected', JSON.parse(localStorage.getItem('user')));
        })
        .catch(() => store.dispatch('setOnline', false));
  }
}
</script>
