<template>
  <div id="powers" class="blurComponent">
    <h2>
      <font-awesome-icon icon="tools"></font-awesome-icon>
      Améliorations
    </h2>
    <div class="d-flex flex-wrap justify-content-center overflow-hidden powers">
      <div v-for="item in getPowersAvalable" :key="item.item.id + '_' + item.power.id"
           class="innerPowers">
        <img
            :id="item.item.id + '_' + item.power.id"
            v-on:click="buyItem(item)"
            :src="require('@/assets/img/' + item.item.icon)"
            :class="item.power.cost > counter ? 'powerDisabled' : 'power'"
        />
        <b-tooltip :target="item.item.id + '_' + item.power.id"
                   triggers="hover"
                   placement="left"
                   delay="0"
                   boundary-padding="20">
          <p class="powerName">{{ item.power.name }}</p>
          <p class="powerDescription" v-html="item.power.description()"></p>
          {{ item.power.costFormatted() }} <img class="iconPrice" src="@/assets/passenger.png">
        </b-tooltip>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShopPowers',
  props: ['counter', 'items'],
  computed: {
    getPath: function () {
      return process.env.BASE_URL;
    },
    getPowersAvalable: function () {
      let powers = [];
      this.items.map(i => i.powers.map(p => {
        let unlockPrevious;
        if (p.previousPower === -1)
          unlockPrevious = true;
        else
          unlockPrevious = i.powers.find(e => e.id === p.previousPower).buy;
        if (unlockPrevious && !p.buy && p.unlockCondition <= i.counter)
          powers.push({item: i, power: p});
      }))
      return powers.sort(function (a, b) {
        return a.power.cost - b.power.cost;
      });
    }
  },
  methods: {
    buyItem(item) {
      this.$parent.$emit('buy-power', item.item.id, item.power.id)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#powers {
  margin-bottom: 20px;
}

.powers {
  margin: -10px 0 0 -10px;
  width: calc(100% + 10px);
  min-height: 75px;
  max-height: 75px;
}

.powers:hover {
  max-height: unset;
}

.innerPowers > img {
  margin: 5px 0 5px 5px;
  height: 64px;
  padding: 5px;
  border: 1px solid black;
  transition: transform .1s;
}

.power {
  background-color: green;
}

.powerDisabled {
  background-color: #727272;
  opacity: 0.6;
}

.power:hover {
  background-color: #2fac21;
  transform: scale(1.1);
}

.powerName {
  font-weight: bold;
}

.iconPrice {
  width: 20px;
  height: 20px;
}
</style>
