<template>
  <div class="blurComponent">
    <h2>
      <font-awesome-icon icon="warehouse"></font-awesome-icon>
      Boutique
    </h2>
    <div class="actionItem">
      Acheter par
      <b-button
          v-for="(btn, idx) in selectors"
          :key="idx"
          :pressed="btn.state"
          v-on:click="changeSelector(btn)"
          variant="secondary"
          class="buttonSelector">
        {{ btn.caption }}
      </b-button>
    </div>
    <div v-for="item in items" :key="item.id">
      <div class="rounded d-flex justify-content-between align-content-start shopItem"
           v-b-popover.hover="description(item)"
           :class="counter - item.costIfBuyQuantity(getQuantity) < 0 ? 'shopItemDisabled' : 'shopItemAvailable'"
           v-on:click="actionItem(item)">
        <div clas="iconItem">
          <img v-if="item.unlock" class="iconItem" :src="require('@/assets/img/' + item.icon)">
          <img v-else class="iconItem" src="@/assets/items/lock.png">
        </div>
        <div class="d-flex flex-column justify-content-start align-self-center">
          <h3 v-if="item.unlock">{{ item.name }}</h3>
          <h4 v-else>???</h4>
          <div class="d-flex flex-row justify-content-center align-content-stretch">
            <span :class="item.costIfBuyQuantity(getQuantity) > counter ? 'priceRed' : 'priceGreen'">
              <span v-if="getQuantity !== 1" class="multipleItem">x{{ getQuantity }}</span>
              <img class="iconPrice" src="@/assets/passenger.png">
              {{ item.costIfBuyQuantityFormatted(getQuantity) }}
            </span>
          </div>
        </div>
        <div class="align-self-center counterItem"><span v-if="item.unlock">{{ item.counter }}</span></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShopItems',
  props: ['counter', 'items'],
  methods: {
    actionItem(item) {
      this.$parent.$emit('item-action', item, this.getQuantity)
    },
    changeSelector(button) {
      this.selectors.map(s => s.state = false);
      this.selectors.find(b => b.caption === button.caption).state = true;
    },
    description: function (item) {
      let result = {title: item.name, content: '', html: true, variant: 'secondary'};
      let perSecond = item.generatePerSecond().toFixed(2);
      let perSecondPerItem = (perSecond / item.counter).toFixed(2);
      let description = '<ul class="descriptionList">';
      if (item.counter > 0) {
        description += '<li>Chaque ' + item.name + ' produit ' + perSecondPerItem + ' PpS</li>';
        description += '<li>Les ' + item.counter + ' ' + item.name + ' produisent ' + perSecond + ' PpS</li>';
      } else if (item.counter === 0) {
        description += '<li>Il faut acheter pour connaître les statistiques</li>'
      }
      if (!item.unlock) {
        result.content = "L'item n'est pas encore débloqué";
        return result;
      }
      description += '</ul>'
      result.content = description;
      return result;
    }
  },
  data: function () {
    return {
      selectors: [
        {caption: '1', state: true},
        {caption: '10', state: false},
        {caption: '20', state: false},
        {caption: '50', state: false}
      ]
    }
  },
  computed: {
    getQuantity: function () {
      return parseInt(this.selectors.find(s => s.state).caption);
    },
    getPath: function () {
      return process.env.BASE_URL;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.shopItem {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  transition: transform .1s;
  min-width: 350px;
  margin-bottom: 10px;
  background: url("../../assets/metal.jpg") center center;
}

.shopItemAvailable {
  background-color: #a8ff5c;
}

.shopItemAvailable:hover {
  transform: scale(1.025);
}

.shopItemDisabled {
  background-color: #656565;
  opacity: 0.7;
  cursor: not-allowed;
}

img.iconItem {
  height: 70px;
  max-width: 10rem;
}

div.iconItem {
  max-width: 150px;
}

.priceGreen {
  font-size: 1.2rem;
  color: #00d514;
}

.priceRed {
  font-size: 1.2rem;
  color: red;
}

.iconPrice {
  width: 20px;
  height: 20px;
}

.counterItem {
  vertical-align: middle;
  font-size: 2rem;
}

.buttonSelector {
  margin: 0 5px 0 5px;
}

.multipleItem {
  margin-right: 5px;
  color: #bc6a00;
  font-weight: bold;
}

.actionItem {
  margin-bottom: 10px;
}
</style>
<style>
.descriptionList {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 15px;
}

li {
  margin: 0;
}
</style>
