<template>
  <div class="d-flex flex-column">
    <shop-powers
        :counter="counter"
        :items="items"
    />
    <shop-items
        class="flex-grow-1"
        :counter="counter"
        :items="items"
    />
  </div>
</template>

<script>
import ShopItems from "@/components/shop/ShopItems";
import ShopPowers from "@/components/shop/ShopPowers";

export default {
  name: 'Shop',
  components: {ShopPowers, ShopItems},
  props: ['counter', 'items']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
