<template>
  <b-container>
    <b-card bg-variant="dark" text-variant="white" title="A propos du projet">
      <b-card-text>
        <p>Ce projet Aircraft Clicker a été réalisé dans le cadre d'un projet web à l'école nationale supérieure
          d’électronique, informatique, télécommunications, mathématique et mécanique (ENSEIRB-MATMECA) de Bordeaux en
          deuxième année de Réseaux et Systèmes d'Information.</p>
        <p>L'objectif de ce projet est à l'aide du framework VueJS et d'une API REST en NodeJS afin de reproduire le
          célèbre jeu <a href="https://orteil.dashnet.org/cookieclicker/">CookieClicker</a>.</p>
        <p>
          Ce jeu se base sur le transport de passagers à l'aide de l'achat de pilotes et d'avions.
        </p>
        <p>Crée par <b>Guillaume COURS</b> en 2020.</p>
        <b-img fluid width="75" :src="require('@/assets/logo.png')"></b-img>
      </b-card-text>
    </b-card>
  </b-container>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>
h1 {
  margin-bottom: 30px;
  color: white;
}
</style>
