<template>
  <b-container fluid="" class="game noSelect d-flex flex-column">
    <b-row class="d-flex flex-row flex-grow-1">
      <b-col class="d-flex flex-grow-1" lg="4">
        <clicker
            class="flex-grow-1"
            v-on:clicker-action="clickerAction()"
            v-on:reset-game="initializationGame()"
            :counter="counter"
            :perSecond="perSecond"
            :perClick="perClick"
        />
      </b-col>
      <b-col class="flex-grow-1" lg="4">
        <units
            :items="items"
            v-on:switch-show-units="switchShowUnits"
        />
      </b-col>
      <b-col class="flex-grow-1" lg="4">
        <shop
            :counter="counter"
            :items="items"
            v-on:item-action="itemAction"
            v-on:buy-power="buyPower"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Clicker from "@/components/clicker/Clicker"
import Units from "@/components/units/Units"
import Shop from "@/components/shop/Shop"
import Item from "@/class/Item";
import Power from "@/class/Power";
import store from "@/store";
import axios from "axios";

export default {
  name: 'Game',
  components: {
    Clicker,
    Units,
    Shop
  },
  data: function () {
    return {
      interval: null,
      counter: 0,
      items: [],
    }
  },
  methods: {
    clickerAction() {
      this.counter += this.perClick;
    },
    itemAction(item, quantity) {
      let price = item.costIfBuyQuantity(quantity);
      if (!item.unlock) // Lock item
        return;
      if (this.counter - price < 0) // Can't pay item
        return;
      this.counter -= price;
      this.items.find(i => item.id === i.id).counter += quantity;
    },
    switchShowUnits(item) {
      let shopItem = this.items.find(i => i.id === item.id);
      shopItem.unitsShow = !shopItem.unitsShow;
    },
    gameRound() {
      this.counter += this.perSecond / 100;
      this.items.map(i => {
        if (this.counter >= i.cost())
          i.unlock = true
      });
    },
    buyPower(item_id, power_id) {
      let item = this.items.find(i => i.id === item_id);
      let power = item.powers.find(p => p.id === power_id);
      let unlockPrevious;
      if (power.previousPower === -1)
        unlockPrevious = true;
      else
        unlockPrevious = item.powers.find(e => e.id === power.previousPower).buy;
      if (!unlockPrevious) // Previous power not buy
        return;
      if (this.counter - power.cost < 0) // Can't pay power
        return;
      this.counter -= power.cost;
      power.buy = true;
    },
    initializationGame() {
      this.counter = 0;
      this.items = [];

      let pilot = new Item(0, 'Pilote', 'pilot.png', 15, 0.1);
      pilot.powers.push(new Power(0, 'Qualification BB', -1, 1, 1000, 1.2, 2, 0.1));
      pilot.powers.push(new Power(1, 'Qualification PPL', 0, 20, 3000, 1.4, 2, 0.2));
      pilot.powers.push(new Power(2, 'Qualification ATPL', 1, 50, 6000, 1.4, 2, 0.2));
      this.items.push(pilot);
      let dr400 = new Item(1, 'DR400', 'dr400.png', 100, 1);
      dr400.powers.push(new Power(0, 'Siège en cuir', -1, 1, 6600, 1.2, 2, 0.1));
      dr400.powers.push(new Power(1, 'Edition 180CV', 0, 30, 20000, 1.4, 2, 0.2));
      dr400.powers.push(new Power(2, 'Hélice carbone', 1, 50, 40000, 1.4, 2, 0.2));
      this.items.push(dr400);
      let c180 = new Item(2, 'C180', 'c180.png', 1100, 8);
      c180.powers.push(new Power(0, 'Flotteurs de qualité', -1, 1, 72600, 1.2, 2, 0.1));
      c180.powers.push(new Power(1, 'Grande autonomie', 0, 20, 220000, 1.4, 2, 0.2));
      c180.powers.push(new Power(2, 'Hélice carbone', 1, 50, 440000, 1.4, 2, 0.2));
      this.items.push(c180);
      let atr72 = new Item(3, 'ATR-72', 'atr72.png', 12000, 47);
      atr72.powers.push(new Power(0, 'Grande soute', -1, 1, 792000, 1.2, 2, 0.1));
      atr72.powers.push(new Power(1, 'Service à bord', 0, 20, 2400000, 1.4, 2, 0.2));
      atr72.powers.push(new Power(2, 'Hélice carbone', 1, 50, 4800000, 1.4, 2, 0.2));
      this.items.push(atr72);
      let a320 = new Item(4, 'A320', 'a320.png', 130000, 260);
      a320.powers.push(new Power(0, 'Version Neo', -1, 1, 8580000, 1.2, 2, 0.1));
      a320.powers.push(new Power(1, 'Réacteurs performants', 0, 20, 26000000, 1.4, 2, 0.2));
      a320.powers.push(new Power(2, 'Aile carbone', 1, 50, 52000000, 1.4, 2, 0.2));
      this.items.push(a320);
      let b777 = new Item(5, 'B777', 'b777.png', 1400000, 1400);
      b777.powers.push(new Power(0, 'Classe business', -1, 1, 92400000, 1.2, 2, 0.1));
      b777.powers.push(new Power(1, 'Service 5 étoiles', 0, 20, 280000000, 1.4, 2, 0.2));
      b777.powers.push(new Power(2, 'Grande autonomie', 1, 50, 560000000, 1.4, 2, 0.2));
      this.items.push(b777);
      let a350 = new Item(6, 'A350', 'a350.png', 20000000, 7800);
      a350.powers.push(new Power(0, 'Classe business', -1, 1, 1320000000, 1.2, 2, 0.1));
      a350.powers.push(new Power(1, 'Service 5 étoiles', 0, 20, 4000000000, 1.4, 2, 0.2));
      a350.powers.push(new Power(2, 'Aile carbone', 1, 50, 8000000000, 1.4, 2, 0.2));
      this.items.push(a350);
    },
    exportGame() {
      let save = {
        exportTime: Date.now(),
        counter: this.counter,
        items: [],
      };
      this.items.map(i => {
        let item = {
          id: i.id,
          counter: i.counter,
          unlock: i.unlock,
          unitsShow: i.unitsShow,
          powers: []
        };
        i.powers.map(p => {
          let power = {
            id: p.id,
            buy: p.buy,
          }
          item.powers.push(power);
        });
        save.items.push(item);
      });
      return save;
    },
    importGame(backup) {
      if (backup === null) {
        this.initializationGame();
        return;
      }
      this.counter = backup.counter;
      backup.items.map(i => {
        let item = this.items.find(e => e.id === i.id);
        item.counter = i.counter;
        item.unlock = i.unlock;
        item.unitsShow = i.unitsShow;
        i.powers.map(p => {
          let power = item.powers.find(e => e.id === p.id);
          power.buy = p.buy;
        });
      });
      this.counter += ((Date.now() - backup.exportTime) / 1000) * this.perSecond;
    },
    save() {
      let save = this.exportGame()
      if (this.loggedIn && this.isOnline) {
        axios.post(this.$apiUrl + '/game/' + store.getters.user.id + '/save', save);
      } else
        localStorage.setItem('aircraft_clicker-save', JSON.stringify(save));
    },
    loadSave() {
      this.initializationGame();

      let user = JSON.parse(localStorage.getItem('user'));
      if (user) {
        axios.get(this.$apiUrl + '/game/' + user.id).then(response => {
          this.importGame(response.data.game)
        });
      } else {
        let jsonBackup = localStorage.getItem('aircraft_clicker-save');
        if (jsonBackup != null) {
          let backup = JSON.parse(jsonBackup);
          this.importGame(backup);
        }
      }
    }
  },
  computed: {
    perSecond: function () {
      return this.items.reduce(function (sum, item) {
        return sum + item.generatePerSecond();
      }, 0);
    },
    perClick: function () {
      let toAdd = 1;
      this.items.map(i => {
        i.powers.map(p => {
          if (p.buy) {
            if (p.upgrade.perClickerByCounter !== 0)
              toAdd += i.counter * p.upgrade.perClickerByCounter;
            if (p.upgrade.perClicker !== 0)
              toAdd *= p.upgrade.perClicker;
          }
        });
      });
      return Math.round(toAdd);
    },
    loggedIn: function () {
      return store.getters.loggedIn;
    },
    isOnline: function () {
      return store.getters.isOnline;
    }
  },
  mounted() {
    this.interval = setInterval(this.gameRound, 10);
    this.loadSave();
    window.onbeforeunload = this.save;
  },
  beforeDestroy() {
    this.save();
    clearInterval(this.interval);
  }
}
</script>

<style scoped>
.game {
  background: url("../assets/background.jpg") center top;
  background-size: cover;
  color: white;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
