<template>
  <div class="d-flex flex-column justify-content-center login">
    <b-alert show variant="danger" v-if="wrongPassword">Le couple identifiant, mot de passe est incorrecte.</b-alert>
    <h1>Se connecter</h1>
    <form v-on:submit.prevent="login">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="pseudo"><font-awesome-icon icon="user"/></span>
        </div>
        <input type="text" class="form-control" aria-describedby="pseudo" placeholder="Pseudonyme"
               v-model="form.username" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="password"><font-awesome-icon icon="key"/></span>
        </div>
        <input type="password" class="form-control" aria-describedby="password" placeholder="Mot de passe"
               v-model="form.password" required>
      </div>
      <button type="submit" class="btn btn-dark">Se connecter</button>
    </form>
    <br>
    <button class="btn btn-dark" v-on:click="redirectSubscribe">Pas de compte ? S'inscrire</button>
  </div>
</template>

<script>
import store from "@/store";
import sha256 from "js-sha256";
import axios from "axios";
import router from "@/router";

export default {
  name: 'Login',
  data: function () {
    return {
      form: {
        username: "",
        password: "",
      },
      wrongPassword: false
    }
  },
  computed: {
    isOnline: function () {
      return store.getters.isOnline;
    }
  },
  mounted() {
    if (!this.isOnline)
      router.push('/')
  },
  methods: {
    login: function () {
      if (!this.isOnline)
        return;
      const username = this.form.username;
      const hashedPassword = sha256(this.form.password);
      axios.post(this.$apiUrl + '/login', {username, hashedPassword})
          .then((response) => {
            if (response.data.code === 200) {
              store.dispatch('setUserConnected', response.data.userConnected);
              router.push('/');
            } else {
              this.form.password = '';
              this.wrongPassword = true;
            }
          });
    },
    redirectSubscribe: function () {
      router.push('/subscribe');
    }
  }
}
</script>

<style scoped>
h1 {
  margin-bottom: 30px;
  color: white;
}

.login {
  height: 100%;
  width: 80vw;
  max-width: 500px;
  margin: auto;
  padding: 15px;
}
</style>
