<template>
  <div>
  </div>
</template>

<script>
import store from "@/store";
import router from "@/router";

export default {
  name: 'Logout',
  mounted() {
    store.dispatch('setUserConnected', null);
    router.push('/');
  }
}
</script>
