<template>
  <div class="d-flex flex-column justify-content-center login">
    <b-alert show variant="danger" v-if="wrongForm">Merci de vérifer les informations.</b-alert>
    <h1>S'inscrire</h1>
    <form v-on:submit.prevent="register">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="pseudo"><font-awesome-icon icon="user"/></span>
        </div>
        <input type="text" class="form-control" aria-describedby="pseudo" placeholder="Pseudonyme"
               v-model="form.username" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="password"><font-awesome-icon icon="key"/></span>
        </div>
        <input type="password" class="form-control" aria-describedby="password" placeholder="Mot de passe"
               v-model="form.password" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="password_confirm"><font-awesome-icon icon="key"/></span>
        </div>
        <input type="password" class="form-control" aria-describedby="password_confirm"
               placeholder="Confirmer votre mot de passe"
               v-model="form.password_confirm" required>
      </div>
      <button type="submit" class="btn btn-dark">S'inscrire</button>
    </form>
  </div>
</template>

<script>
import store from "@/store";
import sha256 from "js-sha256";
import axios from "axios";
import router from "@/router";

export default {
  name: 'Register',
  data: function () {
    return {
      form: {
        username: "",
        password: "",
        password_confirm: "",
      },
      wrongForm: false
    }
  },
  computed: {
    isOnline: function () {
      return store.getters.isOnline;
    },
    loggedIn: function () {
      return store.getters.loggedIn;
    }
  },
  mounted() {
    if (!this.isOnline || this.loggedIn)
      router.push('/');
  },
  methods: {
    register: function () {
      if (this.form.password !== this.form.password_confirm) {
        this.form.password = '';
        this.form.password_confirm = '';
        this.wrongForm = true;
        return;
      }
      const username = this.form.username;
      const hashedPassword = sha256(this.form.password);
      axios.post(this.$apiUrl + '/subscribe', {username, hashedPassword})
          .then((response) => {
            if (response.data.code === 200) {
              store.dispatch('setUserConnected', response.data.user);
              router.push('/');
            } else {
              this.form.password = '';
              this.wrongForm = true;
            }
          }).catch(() => {
        this.form.username = '';
        this.form.password = '';
        this.form.password_confirm = '';
        this.wrongForm = true;
      });
    }
  }
}
</script>

<style scoped>
h1 {
  margin-bottom: 30px;
  color: white;
}

.login {
  height: 100%;
  width: 80vw;
  max-width: 500px;
  margin: auto;
  padding: 15px;
}
</style>
