<template>
  <b-container>
    <h1>Tableau des scores</h1>
    <b-table striped hover dark :items="users"></b-table>
  </b-container>
</template>

<script>
import store from "@/store";
import axios from "axios";
import router from "@/router";

export default {
  name: 'Score',
  data: function () {
    return {
      users: []
    }
  },
  computed: {
    isOnline: function () {
      return store.getters.isOnline;
    }
  },
  mounted() {
    if (!this.isOnline)
      router.push('/')
    this.getScore();
    setTimeout(this.getScore, 700);
  },
  methods: {
    getScore: function () {
      if (!this.isOnline)
        return;
      this.users = [];
      axios.get(this.$apiUrl + '/score').then((response) => {
        response.data.users.map(u => {
          let row = {username: u.username, score: 0};
          if (u.game)
            row.score = Math.round(u.game.counter);
          this.users.push(row);
        });
        this.users = this.users.sort(function (a, b) {
          return b.score - a.score;
        })
      });
    }
  }
}
</script>

<style scoped>
h1 {
  color: white;
}
</style>
